* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-size: 10px;
  background-color: #5cb3db;
  overflow-x: hidden;
}

nav {
  background-image: linear-gradient(to left, #9984e8, #75e5ab);
  padding: 1rem;
  width: 100%;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid black 1px;
}
nav ul {
  border: solid 2px;
  color: black;
  padding: 0.7em;
  font-family: "Quicksand";
  font-weight: bold;
}

.nav__animation {
  transition: 1seg;
}
.nav__animation:hover {
  color: antiquewhite;
}

h1 {
  font-family: "Quicksand";
  font-weight: bold;
  text-align: center;
  color: black;
}

h2 {
  font-family: "Quicksand";
  font-weight: bold;
  text-align: center;
  margin: 1.2em;
}

footer {
  text-align: center;
  background-color: #9984e8;
  padding: 0.7em;
  font-family: "Quicksand";
  border-top: solid black 1px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
footer a {
  transition: 1seg;
}
footer a:hover {
  color: antiquewhite;
}
footer a img {
  margin: 1em;
  width: 2em;
  height: 2em;
}
footer p {
  margin: 1em;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(1fr auto);
    row-gap: 1em;
    font-size: 18px;
  }
}
.body__seccion1 {
  display: flex;
}
.body__seccion1 p {
  width: 35em;
  height: 15em;
  margin: 2em;
  text-align: justify;
  font-family: "Cabin";
  border: solid black 2px;
  background-color: #b0c4de;
  align-self: center;
}
.body__seccion1 img {
  margin: 2em;
  margin-left: 3.5em;
  max-width: 35%;
}

@media (min-width: 768px) {
  .body__seccion1 p {
    height: 25em;
    width: 40em;
    padding: 3em;
    display: flex;
    align-items: center;
  }
}
.body__seccion2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.body__seccion2__list {
  align-self: center;
  width: 18.95 em;
  height: 9.5 em;
  padding: 1.25 em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Cabin";
}
.body__seccion2__list li {
  padding: 0.625em;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30em;
  height: 20em;
  margin: 1rem;
  border: 1px solid black;
  background-color: #b0c4de;
}

.body__seccion2__img {
  max-width: 70%;
  max-height: 70%;
  align-self: center;
}

@media (min-width: 768px) {
  .body__seccion2__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.body__seccion3 article {
  margin: 1.25em;
  padding: 1.25em;
  width: 30em;
  height: 45em;
  text-align: justify;
  border: solid black;
  background-color: #75e5ab;
}
.body__seccion3 article img {
  max-width: 70%;
  align-self: center;
}

.btn_article {
  background-color: #9984e8;
  color: white;
}

@media (min-width: 768px) {
  .body__seccion3 article {
    width: 18em;
    height: 28em;
  }
}
.body__form {
  font-family: "Cabin";
  border: solid black;
  text-align: justify;
  background-color: #75e5ab;
  margin: 1em;
}

.body__seccion4 {
  display: flex;
}

.body__seccion4__box {
  width: 100%;
  height: 100%;
  margin: 2em;
  text-align: justify;
  font-family: "Cabin";
  border: solid black 3px;
  background-color: #b0c4de;
}
.body__seccion4__box div {
  display: flex;
}
.body__seccion4__box div img {
  width: 2em;
  height: 2em;
}
.body__seccion4__box div p a {
  background-color: #9984e8;
  color: white;
}

@media (min-width: 768px) {
  .body__seccion4__box {
    height: 25em;
    width: 40em;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .body__form--flex {
    display: flex;
  }
}
.body__seccion5 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.body__seccion5 iframe {
  width: fit-content;
  height: fit-content;
  margin-left: 3em;
}
.body__seccion5 div {
  width: 35em;
  height: 15em;
  margin: 2em;
  text-align: center;
  font-family: "Cabin";
  border: solid black 2px;
  background-color: #b0c4de;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .body__seccion5 {
    flex-direction: row;
  }
  .body__seccion5 iframe {
    margin-left: 3em;
    width: 30em;
    height: 18em;
  }
}

/*# sourceMappingURL=style.css.map */
