.body__seccion1 {
  display: flex;
}

.body__seccion1__p {
  width: 35em;
  height: 15em;
  margin: 2em;
  text-align: justify;
  font-family: "Cabin";
  border: solid black 2px;
  background-color: #b0c4de;
  align-self: center;
}

.body__seccion1__img {
  margin: 2em;
  margin-left: 3.5em;
  max-width: 35%;
}

@media (min-width: 768px) {
  .body__seccion1__p {
    height: 25em;
    width: 40em;
    padding: 3em;
    display: flex;
    align-items: center;
  }
}
